<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#EFB03D">
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <title>Categorias Comida</title>
    <link rel="stylesheet" href="categoComidas.css">
</head>
<body>
        <nav class="navigation">
                <span class="navigation-selector">
                </span>
                    <div class="navigation__list">
                        <a href="#" class="navigation__list-link navigation__list-link-gear">
                            <img class="navigation__item--img-gear" src="../../assets/navAssets/engrane.svg" alt="">
                        </a>
                        <a href="#" class="navigation__list-link navigation__list-link-calendar">
                          <img class="navigation__item--img-calendar" src="../../assets/navAssets/calendar.svg" alt="">
                        </a>
                        <a href="#" class="navigation__list-link navigation__list-link-logo">
                            <img class="navigation__item--img-logo" src="../../assets/logoAssets/logo.svg" alt="">
                        </a>
                        <a href="#" class="navigation__list-link navigation__list-link-heart">
                            <img class="navigation__item--img-heart" src="../../assets/navAssets/heart.svg" alt="">
                        </a>
                        <a href="#" class="navigation__list-link navigation__list-link-profile">
                            <img class="navigation__item--img-user" src="../../assets/navAssets/user.svg" alt="">
                        </a>
                    </div>
            </nav> 

    <div class="categories__title-wrapper">
            <div class="left__arrow-wrapper">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-left" class="svg-inline--fa fa-arrow-left fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path class="left-arrow" d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"></path></svg>
            </div>
            <h2 class="categories__title">Descubre por <br><span>categoría</span></h2>
    </div> 

    <div class="categories">
    <div class="categories__food--wrapper-page1">
        <div class="categories__food--grid">
            <div class="categories__food--item-wrapper">
                <a href="#">
                    <div class="categories__food-item categories__food-item-japonesa">
                        <img class="categories__food-item--img" src="../../assets/foodAssets/japonesa.svg" alt="japonesa">
                    </div>
                    <p class="categories__food-description">Japonesa</p>
                </a>
            </div>
            <div class="categories__food--item-wrapper">
                <a href="">
                    <div class="categories__food-item">
                        <img class="categories__food-item--img" src="../../assets/foodAssets/donut.svg" alt="postres">
                    </div>
                    <p class="categories__food-description">Postres</p>
                </a>
            </div>
            <div class="categories__food--item-wrapper">
                <a href="">
                    <div class="categories__food-item categories__food-item-pizza">
                        <img class="categories__food-item--img" src="../../assets/foodAssets/pizza.svg" alt="pizza">
                    </div>
                    <p class="categories__food-description">Pizzas</p>
                </a>
            </div>
             <div class="categories__food--item-wrapper">
                 <a href="">
                     <div class="categories__food-item categories__food-item-carnes">
                         <img class="categories__food-item--img" src="../../assets/foodAssets/italiana.svg" alt="italiana">
                     </div>
                     <p class="categories__food-description">Italiana</p>
                 </a>
            </div>
            <div class="categories__food--item-wrapper">
                <a href="">
                    <div class="categories__food-item categories__food-item-china">
                        <img class="categories__food-item--img" src="../../assets/foodAssets/comidaRapida.svg" alt="comida-rapida">
                    </div>
                    <p class="categories__food-description">Fast-food</p>
                </a>
            </div>
            <div class="categories__food--item-wrapper">
                <a href="">
                    <div class="categories__food-item categories__food-item-hamburguesa">
                        <img class="categories__food-item--img" src="../../assets/foodAssets/carnes.svg" alt="carne">
                    </div>
                    <p class="categories__food-description">Carne</p>
                </a>
            </div>
            <div class="categories__food--item-wrapper">
                <a href="">
                    <div class="categories__food-item categories__food-item-saludable">
                        <img class="categories__food-item--img" src="../../assets/foodAssets/china.svg" alt="china">
                    </div>
                    <p class="categories__food-description">China</p>
                </a>
            </div>
            <div class="categories__food--item-wrapper">
                <a href="">
                    <div class="categories__food-item categories__food-item-mariscos">
                        <img class="categories__food-item--img" src="../../assets/foodAssets/hamburguesa.svg" alt="hamburguesa">
                    </div>
                    <p class="categories__food-description">Burgers</p>
                </a>
            </div>
            <div class="categories__food--item-wrapper">
                <a href="">
                    <div class="categories__food-item categories__food-item-mexicana">
                        <img class="categories__food-item--img" src="../../assets/foodAssets/saludable.svg" alt="saludable">
                    </div>
                    <p class="categories__food-description">Sano</p>
                </a>
            </div>
        </div>
        </div>
        <div class="categories__food--wrapper-page2">
                <div class="categories__food--grid">
                    <div class="categories__food--item-wrapper">
                        <a href="">
                            <div class="categories__food-item categories__food-item-itaiana">
                                <img class="categories__food-item--img" src="../../assets/foodAssets/mariscos.svg" alt="mariscos">
                            </div>
                            <p class="categories__food-description">Mariscos</p>
                        </a>
                    </div>
                    <div class="categories__food--item-wrapper">
                        <a href="">
                            <div class="categories__food-item categories__food-item-rapida">
                                <img class="categories__food-item--img" src="../../assets/foodAssets/taco.svg" alt="taco">
                            </div>
                            <p class="categories__food-description">Tacos</p>
                        </a>
                    </div>
                    <div class="categories__food--item-wrapper">
                        <a href="">
                            <div class="categories__food-item categories__food-item-panaderia">
                                <img class="categories__food-item--img" src="../../assets/foodAssets/pan.svg" alt="pan">
                            </div>
                            <p class="categories__food-description">Pan</p>
                        </a>
                    </div>
                    <div class="categories__food--item-wrapper">
                        <a href="">
                            <div class="categories__food-item categories__food-item-pollo">
                                <img class="categories__food-item--img" src="../../assets/foodAssets/chicken.svg" alt="pollo">
                            </div>
                            <p class="categories__food-description">Pollo</p>
                        </a>
                    </div>
                    <div class="categories__food--item-wrapper">
                        <a href="">
                            <div class="categories__food-item categories__food-item-antojitos">
                                <img class="categories__food-item--img" src="../../assets/foodAssets/sausage.svg" alt="antojitos">
                            </div>
                            <p class="categories__food-description">Antojitos</p>
                        </a>
                    </div>
                    <div class="categories__food--item-wrapper">
                        <a href="">
                            <div class="categories__food-item categories__food-item-sopas">
                                <img class="categories__food-item--img" src="../../assets/foodAssets/soups.svg" alt="sopas">
                            </div>
                            <p class="categories__food-description">Sopas</p>
                        </a>
                    </div>
                </div>
        </div>
    </div>
    </div>
    <script src="categoComidas.js" type="text/javascript"></script>
</body>
</html>