@import '../../assets/Styles/measures.scss';
@import '../../assets/Styles/colors.scss';

.BottomBar{
    height: $bottom-bar-height;
    border-top: 1px solid $light-grey;
    background-color: $white;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 0 $padding-container/2.5;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    &-item{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        & svg{
            width:$icon-size;
            height: $icon-size;
            path{
                fill: $grey;
            } 
        }
        &-logo{
            & svg{
                width: $icon-size-logo;
                height: $icon-size-logo;
            }
        }
    }
}