//font
$root-font-size:62.5%;

//icons size
$icon-size:2.8rem;
$icon-size-logo:4.5rem;

//title-bar-height
$title-bar-height:10rem;

//bottom bar height
$bottom-bar-height:8rem;

//recipe cards
$recipe-card-width:20rem;
$recipe-card-height:33rem;

$categorie-card-width:10rem;

//width
$full-width:100%;

//padding
$padding-btn:1.5rem;
$padding-container:2.5rem;

//Margin
$margin-top:2rem;
//Btn
$margin-bottom:2rem;
$element-space:10px;
$font-size-bottom:1.8rem;

//Border-radius
$border-radius-background:10rem;
$border-radius-boxes:1rem;
$border-radius-inputs:10rem;

//Box-shadow

$box-shadow:0 2px 5px rgba(221, 221, 221, 0.8);
$box-shadow-top:0 -2px 5px rgba(221, 221, 221, 0.8);