//font
$root-font-size:62.5%;
//logo-header-size{
    // $logo-header-size:;

//title-bar-height
$title-bar-height:150px;
//width
$full-width:100%;

//padding
$padding-btn:1.5rem;
$padding-container:2.5rem;

//Margin
$margin-top:2rem;
//Btn
$margin-bottom:2rem;
$font-size-bottom:1.8rem;

//Border-radius
$border-radius-background:10rem;
$border-radius-boxes:1rem;
$border-radius-inputs:10rem;

//Box-shadow

$box-shadow:0 2px 5px rgba(221, 221, 221, 0.8);