@import '../../../../../assets/Styles/colors.scss';
@import '../../../../../assets/Styles/measures.scss';

.RecipeCard{
    cursor: pointer;
    max-width: $recipe-card-width;
    height: $recipe-card-height;
    border-radius: $border-radius-boxes*3;
    padding: $padding-container;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: $white;
    display: flex;
    align-items: flex-end;
    &-name{
        font-size: 2.5rem;
        font-family: 'Montserrat-bold',sans-serif;
    }
    &-type{
        font-size: 1.5rem;
    }
}
.TimeOfTheDayCard{
    width: 100%;
    height: $recipe-card-height/8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius-boxes;
    padding: $padding-container;
    box-shadow: $box-shadow;
    color: $white;
    background-color: $main-orange;
    &-text{
        font-size: 2.5rem;
    }
    &:not(:last-child){
        margin-bottom: $element-space;
    }
}
