@import '../../../../assets/Styles/measures.scss';
@import '../../../../assets/Styles/colors.scss';

.Categories{
    position: relative;
    padding: 0 $padding-container;
    margin: $title-bar-height 0;
    &-wrapper{
        display: grid;
        grid-auto-columns: $categorie-card-width;
        grid-auto-flow: column;
        // height: calc(100vh - (#{$title-bar-height} + #{$bottom-bar-height}));
    }
}