<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <title>Logo</title>
    <link rel="stylesheet" href="logo.css">
</head>
<body>
    <main class="container pulse">
        <p class="container__title"> Food </p>
        <img class="container__logo" src="../../assets/logoAssets/logo.svg" alt="Logo">
        <p class="container__title"> Junkie </p>
    </main>
    <script src="logo.js"></script>
</body>
</html>