<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="MobileOptimized" content="width" />
    <meta name="HandheldFriendly" content="true" />
    <title>Crear cuenta</title>
    <link rel="stylesheet" href="crearCuenta.css">
</head>
<body>
    <header class="container">
        <h1 class="container__main--title"> ¿Emocinad@? </h1>
        <p class="container__title"> Deberías estarlo </p>
    </header>
    <section class="container__item">
        <button class="container__item--button"> Regístrate ahora </button>
        <button class="container__item--button"> Entrar </button>
    </section>
</body>
</html>